<!doctype html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <title>Insufficient facts always invite danger !! | M.</title>
    <link rel="stylesheet" href="/assets/css/style.css?v=0023529ef331dd9ce1d77d9c93a51fa17b26f345">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>M.</h1>
              
      </header>
      <section>
<main class="page-content" aria-label="Content">
      <div class="wrapper">
       <blockquote>
        <p>Simplicity is the ultimate sophistication.</p>
      </blockquote>
      <p align="right">Leonardo da Vinci</p>
        
      <blockquote>
        <p>I have no data yet. It is a capital mistake to theorise before one has data. Insensibly one begins to twist facts to suit theories, instead of theories to suit facts.</p>
      </blockquote>
      <p align="right">Said <em>he</em>.</p>        
      
       <blockquote>
        <p>If I had only one hour to save the world, I would spend fifty-five minutes defining the problem, and only five minutes finding the solution.</p>
      </blockquote>
      <p align="right">Albert Einstein</p>
        
      <blockquote>
        <p>You fit a model, do the best you can, be open about your methods, then invite criticism. You can then take account of the criticisms, include more information, and do better.</p>
      </blockquote>
      <p align="right">Said by a fine modeller - A. Gelman</p>
        
        <!---
        {{ content }}
        --->
      </div>
    </main>



      </section>
      <footer>
        
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
  
  </body>
</html>

